.container{
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content:center;
    align-items: center;

}

.box{
    width: 200px;
    height: 200px;
    background-color: beige;
    border: 2px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: auto;
    transition: all 2s linear 1s;
    cursor: pointer;
    

}
.box:hover{
    background-color: aqua;
    transform: rotate(45deg);
    /* transform: scale(0.5); */
    /* transform:skew(45deg); */
    /* transform: translate(50px); */
    /* transform: translate(200px,200px); */
    box-shadow: 10px 20px 50px ;

   
    
}
p{
    font-size: 25px;
}